* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* background-color: yellow; */
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #a5bbdd;

  display: grid;
  grid-template-rows: 220px 1fr;

  width: 21%;
  height: 420px;
  border-radius: 10px;

  position: relative;
  overflow: hidden;
}

#weathercon {
  /* background-color: red; */
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  animation: zoom 3s linear infinite alternate;
}

.wave {
  border-radius: 45%;
  position: absolute;
  top: 40%;
  width: 100%;
  height: 100%;
}

.one {
  animation: rotate 7s infinite linear;
  background-color: rgba(13, 182, 182, 0.123);
}

.two {
  animation: rotate 5s infinite linear;
  background-color: rgba(13, 182, 182, 0.233);
}

.three {
  animation: rotate 4s infinite linear;
  background-color: rgba(13, 182, 182, 0.288);
}

.info {
  text-align: center;
  z-index: 1;
}

.info .temp {
  margin: 20px 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
